.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8c8c;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #f86161;
}

.Titulo
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bienvenida
{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
    display: flex;
    justify-content: center;
}

.footer{
position: fixed;
text-align: center;
padding: 10px 0;
border: black;
background-color: #ff8c8c;
width: 100%;
bottom: 0;

}